<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header class="main-header">
        <nav class="header-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/api/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main class="form-header">
        <h1>Add New User</h1>
        <form action="/api/add-user" method="POST" class="form-control">
            <label>Enter User Name</label>
            <input type="text" name="name"/>
            <button type="submit">Add User</button>
        </form>
    </main>
</body>
</html>